@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">$(index_Load);</script>

<section id="main">
    <div class="panel blue" id="art1">
        <div class="container ">
            <div class="row spacer">
                <div class="col-sm-12">
                    <div class="well">
                        <p>col-sm-12</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <p>col-sm-6</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <p>col-sm-6</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>col-sm-4</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>col-sm-4</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>col-sm-4</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <p>col-sm-3</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <p>col-sm-3</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <p>col-sm-3</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <p>col-sm-3</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="panel green-water" id="art3">
        <div class="container">
        </div>
    </div>
    <div class="panel red" id="art2">
        <div class="container">
        </div>
    </div>
    <div class="panel green" id="art4">
        <div class="container">
        </div>
    </div>
</section>

