@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">$(index_Load);</script>

<section id="main">
    <article class="panel blue" id="art1">
        @*<div class="first-left"></div>*@
        <div class="first-center">
        </div>
        @*<div class="first-right"></div>*@
    </article>
    <article class="panel red" id="art2">
    </article>
    <article class="panel yellow" id="art3">
    </article>
    <article class="panel green" id="art4">
    </article>
</section>

