@{
    ViewBag.Title = "Iblin-G - Fernando Souza";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">$(index_Load);</script>

<section id="main">
    <div class="panel blue" id="art1">
        <div class="container ">
            <div class="row spacer">
                <div class="col-sm-12">
                    <div class="well">
                        <p>col-sm-12</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <p>col-sm-6</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <p>col-sm-6</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>col-sm-4</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>col-sm-4</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>col-sm-4</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <p>col-sm-3</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <p>col-sm-3</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <p>col-sm-3</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <p>col-sm-3</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <p>col-sm-2</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="well">
                        <p>col-sm-1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel green-water" id="art3">
        <div class="container">
            <div class="row spacer">
                <div class="hideme col-sm-12">
                    <h1>Sobre</h1>
                    <hr />
                </div>
                <div class="hideme col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <h2>Fernando Souza</h2>
                    <h4>Analista de Sistemas | Desenvolvedor Web | Programador .Net</h4>
                    <p>Amo trabalhar com desenvolvimento, aprender novas tecnologias e aprimorar técnicas, focado em continuar evoluindo nesta profissão na qual estou muito feliz!</p>
                    <p>
                        Há cerca de 6 anos trabalhando nesse ramo, sempre tive a chance de trazer algo no qual aprendi anteriormente e aprimorar técnicas que já conhecia.
                        Melhorar e criar desde layouts simples até sistemas robustos se tornou a minha grande paixão.
                        E com essa experiência decidi tomar novos rumos e me tornar Freelancer.
                    </p>
                    <p>
                        Sou um apaixonado pela vida e pela minha família, sem eles eu não seria nada!
                    </p>
                    <p>
                        Agradeço à Deus por tudo que tenho conseguido até aqui, e pela força que tem me dado!
                    </p>
                </div>
                <div class="hideme col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 sobre-img">
                    <img class="img-circle" src="~/Images/f1.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel red" id="art2">
        <div class="container">
            <div class="row spacer">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 exp">
                    <div class="hideme">
                        <h1>Experiências</h1>
                        <h5 class="text-center">Algumas empresas que trabalhei</h5>
                        <hr />
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2016
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>G&P Projetos e Sistemas S.A</h3>
                            <h4>Analista Desenvolvedor .Net</h4>
                            <p>HTML5, CSS 3, javascript, jQuery, JSON, Bootstrap, WebForms e ASP.net MVC, C#, Web Services, Entity Framework, SqlServer, Scrum, integrações Windows services, Web services (SOAP e REST)</p>
                        </div>
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2014 / 2016
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>Sofhar Gestão & Tecnologia S.A</h3>
                            <h4>Analista Desenvolvedor .Net</h4>
                            <p>HTML5, CSS 3, jQuery, JSON, Bootstrap, ASP.net MVC 5, C#, Web Services, Entity Framework, SqlServer, Scrum.</p>
                        </div>
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2013 / 2014
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>G&P Projetos e Sistemas S.A</h3>
                            <h4>Desenvolvedor .Net Júnior</h4>
                            <p>HTML5, CSS 3, jQuery, ASP.net Web Forms e MVC 4, C#, Web Services, Oracle.</p>
                        </div>
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2012 / 2013
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>Accelera Technologies</h3>
                            <h4>Desenvolvedor .Net</h4>
                            <p>Sharepoint, C#, Sql Server, HTML, CSS, Javascript, Jquery e Photoshop.</p>
                        </div>
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2011 / 2012
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>Intermídia Planejamento de Mídia</h3>
                            <h4>Desenvolvedor Front End</h4>
                            <p>HTML, CSS, Javascript, Jquery e Photoshop.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel green" id="art4">
        <div class="container">
            <div class="row spacer">
                <div class="hideme col-sm-12">
                    <h1>Contato</h1>
                    <hr />
                </div>
                <div class="hideme contato col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-row ">
                        <div class="form-group col-md-12">
                            <p>Deixe seu recado preenchendo os campos abaixo, ou mande um email explicando o seu projeto com detalhes 
                            para <strong>fernandodeveloper@hotmail.com</strong>, que entro em contato com você!</p>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Nome</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Email</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Assunto</label>
                            <input type="text" class="form-control" id="inputAddress">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Mensagem</label>
                            <textarea class="form-control noresize" rows="5"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary exp">Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="hideme col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group col-md-12">
                        <img src="~/Images/icone-mapa.jpg" />

                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="text-center">
                        <h3>Redes Sociais</h3>
                        <h4>Onde você pode me encontrar =D</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

